
Debug/vc142.pdb
Debug/vc142.idb
Debug/ShaderManager.obj
Debug/SceneManager.obj
Debug/Object.obj
Debug/MotorScene.obj
Debug/DM2122 Prac.tlog/CL.write.1.tlog
Debug/DM2122 Prac.tlog/CL.read.1.tlog
Debug/DM2122 Prac.tlog/CL.command.1.tlog
Debug/vc142.pdb
Debug/vc142.idb
Debug/ShaderManager.obj
Debug/SceneManager.obj
Debug/Object.obj
Debug/MotorScene.obj
Debug/DM2122 Prac.tlog/CL.write.1.tlog
Debug/DM2122 Prac.tlog/CL.read.1.tlog
Debug/DM2122 Prac.tlog/CL.command.1.tlog
Debug/Camera.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/ShaderManager.obj
Debug/SceneManager.obj
Debug/Object.obj
Debug/MotorScene.obj
Debug/DM2122 Prac.tlog/CL.write.1.tlog
Debug/DM2122 Prac.tlog/CL.read.1.tlog
Debug/DM2122 Prac.tlog/CL.command.1.tlog
Debug/Camera.obj
Debug/Application.obj
Debug/Application.obj
Debug/Camera.obj
Debug/DM2122 Prac.log
Debug/DM2122 Prac.tlog/CL.command.1.tlog
Debug/DM2122 Prac.tlog/CL.read.1.tlog
Debug/DM2122 Prac.tlog/CL.write.1.tlog
Debug/DM2122 Prac.tlog/link.read.1.tlog
Debug/MotorScene.obj
Debug/Object.obj
Debug/SceneManager.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Vehicle.obj
Debug/Vehicle.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/SceneManager.obj
Debug/Object.obj
Debug/MotorScene.obj
Debug/DM2122 Prac.tlog/CL.write.1.tlog
Debug/DM2122 Prac.tlog/CL.read.1.tlog
Debug/DM2122 Prac.tlog/CL.command.1.tlog
Debug/DM2122 Prac.log
Debug/Camera.obj
Debug/Application.obj
Debug/Application.obj
Debug/Camera.obj
Debug/DM2122 Prac.log
Debug/DM2122 Prac.tlog/CL.command.1.tlog
Debug/DM2122 Prac.tlog/CL.read.1.tlog
Debug/DM2122 Prac.tlog/CL.write.1.tlog
Debug/DM2122 Prac.tlog/link.read.1.tlog
Debug/MotorScene.obj
Debug/Object.obj
Debug/SceneManager.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/Vehicle.obj
*.tlog
*.obj
*.enc
*.idb
*.pdb
